<link href="/assets/front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css" />

<!-- Fontawesome CSS -->
<link href="/assets/front/css/all.css" rel="stylesheet">
<!-- Owl Carousel CSS -->
<link href="/assets/front/css/owl.carousel.min.css" rel="stylesheet">
<!-- Owl Carousel CSS -->
<link href="/assets/front/css/jquery.fancybox.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/assets/front/css/style.css" rel="stylesheet">

<div class="wrapper-main">
	<!-- Top Bar -->
	<div class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="social-media">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contact-details">
						<ul>
							<li><i class="fas fa-phone fa-rotate-90"></i> +01 899 286 777</li>
							<li><i class="fas fa-map-marker-alt"></i>BANK ONLINE</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-light top-nav">
        <div class="container">
            <a class="navbar-brand" href="index.html">
				<img src="/assets/front/images/logo.png" width="200"
        height="70" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link " href="index.html">Home</a>
					</li>
				
          <li class="nav-item dropdown">
						<a class="nav-link " href=""  id="navbarDropcomptes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">comptes<i class="fas fa-sort-down"></i></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropcomptes">
						  <ul class="nav-offre navbar-collapse" id="comptes">
                                    <li class="container">
                                   
</ul>
</div>
</li>               
					<li class="nav-item">
						<a class="nav-link active" href="/operationsClient">Transactions</a>
					</li>
          <li class="nav-item dropdown">
						<a class="nav-link " href=""  id="navbarDropCrédit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Crédits<i class="fas fa-sort-down"></i></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropCrédit">
						  <ul class="nav-offre navbar-collapse" id="Crédit">
              <li class="container">
              <ul class="nav-offre-details">
              </ul>
              </li>                   
</ul>
</div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link " href="Assurance.html"  id="navbarDropAssurance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assurances<i class="fas fa-sort-down"></i></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropAssurance">
    <ul class="nav-offre navbar-collapse" id="Assurance">
                          <li class="container">
                                  
                                             
                                              
                                              <ul class="nav-offre-details">
                                              </ul>
                                                 
                                                 
                                            </li>
                                        
  </ul>
  </div>
  </li>                
					<li class="nav-item">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
            </div>
        </div>
    </nav>
	
    <header class="slider-main">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
               <!-- Slide One - Set the background image for this slide in the line below -->
               <div class="carousel-item active" style="background-image: url('/assets/front/images/slider-01.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>Welcome to BANK ONLINE</h3>
                     <p>A Great Business Consulting</p>
                  </div>
               </div>
                           
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
            </a>
        </div>
    </header>

	
	<div class="services-bar">
		<div class="container">
			<h1 class="py-4">Mes Transactions </h1>
			<!-- Services Section -->
			<div class="row d-flex justify-content-between">
                <div class="col-md-5 card ">
                  <div class="card-body">
                    <div class="input-group mb-3 d-flex align-items-center">
                      <label>
                        Code compte:
                      </label>
                      <input type="text" class="form-control" placeholder="Code Compte" [(ngModel)]="codeCompt" />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="setCodeCompt()">
                          Ok
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              
              
                <div class="card col-md-5">
                  <div class="card-header text-white bg-primary">Operation sur le compte </div>
              
                  <div class="card-body">
              
                    <p class="card-text">code : {{codeCompt}}</p>
              
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="typeCompt"
                        value="Versement" />
                      <label class="form-check-label" for="inlineRadio1">Versement</label>
                    </div>
              
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [(ngModel)]="typeCompt"
                        value="Retrait" />
                      <label class="form-check-label" for="inlineRadio2">Retrait</label>
                    </div>
              
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" [(ngModel)]="typeCompt"
                        value="Virement" />
                      <label class="form-check-label" for="inlineRadio3">Virement</label>
                    </div>
                    <div class="input-group mb-3 d-flex align-items-center" *ngIf="typeCompt === 'Virement'">
                      <label>
                        code compte 2 :
                      </label>
                      <input type="text" class="form-control" placeholder="codeCompt" [(ngModel)]="codeCompt2" />
                    
                    </div>
                    <div class="input-group mb-3 d-flex align-items-center">
                      <label>
                        Montant:
                      </label>
                      <input type="text" class="form-control" placeholder="Montant" [(ngModel)]="montant" />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button"  (click)="send()">
                          Save
                        </button>
                      </div>
                    </div>
              
              
                  </div>
              
              
                </div>
              
              
                <div class="card col-md-5 md-5">
                  <div class="card-header text-white bg-primary">Informations sur le compte </div>
              
                  <div class="card-body">
                    <p class="card-text">Nom et Prénom : {{Compte?.nom }} {{Compte?.prenom}}</p>
                    <p class="card-text">Email : {{Compte?.email}}</p>
                    <p class="card-text">Numéro du Compte : {{codeCompt}}</p>
                    <p class="card-text">Type du Compte : {{Compte?.type_Compte == "CT" ? "Compte à titre" : Compte?.type_Compte == "CC" ? "Compte Courant" : Compte?.type_Compte == "CE"? "Compte d'épargne" : ""}}</p>
                    
                    <p class="card-text">Date de création : {{Compte?.dateCreation | date}}</p>
                    <p class="card-text">Solde : {{Compte?.solde}}</p>

                    <p>---------------</p>
                    <div class="col-md-6">
                      <div *ngIf="CurrentOperation.numero">
                        <label><strong>Operation detail</strong></label>
                        <div>
                          <label><strong>Numéro: </strong></label>
                          {{ CurrentOperation.numero }}
                        </div>
                        <div>
                          <label><strong>Type de l'opération:</strong></label>
                          {{CurrentOperation.operationType }}
                        </div>
                        <div>
                          <label><strong>Date de l'opération:</strong></label>
                          {{ CurrentOperation.dateOperation | date:'medium' }}
                        </div>
                        <div>
                          <label><strong>Montant:</strong></label>
                          {{ CurrentOperation.montant }}
                        </div>
                        
                        
                        
                  
                      </div>
                      <div *ngIf="!CurrentOperation">
                        <br />
                        <p>Please click on an Operation...</p>
                      </div>
                    </div>
                  </div>
              
                </div>
                <div class="card col-md-5 md-5">
                  <div class="card-header text-white bg-primary"> Liste des opérations </div>
              
                  <div class="card-body input-group mb-3">
              <div class="input-group" >
                <input type="text" class="form-control" placeholder="Search by Type" [(ngModel)]="Type" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="searchType()">
                    Search
                  </button>
                </div>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Type Opération</th>
                    <th scope="col">Date</th>
                    <th scope="col">Montant</th>
                  </tr>
                </thead>
                <tbody>
                  <tr    *ngFor="let op of Operations; let i = index" [class.active]="i == CurrentIndex"
                  (click)="setActiveOperation(op, i)" >
                  
                    <th scope="row">{{ op.numero }}</th>
                    <th scope="row">{{ op.dateOperation | date:'medium' }}</th>
                    <th scope="row">{{ op.operationType }}</th>
                    <th scope="row">{{ op.montant  }}</th>
                   
                    
                  </tr>
                  
                </tbody>
              </table>
                   
              
                  </div>
              
              
                </div>
              </div>
             
			<!-- /.row -->
		</div>
	</div>
		
	

	
	<!-- Contact Us -->
	<div class="touch-line">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
				   <p></p>
				</div>
				<div class="col-md-4">
				   <a class="btn btn-lg btn-secondary btn-block" href="#"> Contact Us </a>
				</div>
			</div>
		</div>
	</div>
	
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">About Us</h5>
					<!--headin5_amrc-->
					<p class="mb10"></p>
					<ul class="footer-social">
						<li><a class="facebook hb-xs-margin" href="#"><span class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
						<li><a class="twitter hb-xs-margin" href="#"><span class="hb hb-xs spin hb-twitter"><i class="fab fa-twitter"></i></span></a></li>
						<li><a class="instagram hb-xs-margin" href="#"><span class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
						<li><a class="googleplus hb-xs-margin" href="#"><span class="hb hb-xs spin hb-google-plus"><i class="fab fa-google-plus-g"></i></span></a></li>
						<li><a class="dribbble hb-xs-margin" href="#"><span class="hb hb-xs spin hb-dribbble"><i class="fab fa-dribbble"></i></span></a></li>
					</ul>
				</div>	
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="headin5_amrc col_white_amrc pt2"></h5>
									<!--footer_ul_amrc ends here-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col">
					<!--headin5_amrc ends here-->
					<ul class="footer_ul2_amrc">
						<li>
							
							<p><a href="#"></a></p>
						</li>
					
					</ul>
					<!--footer_ul2_amrc ends here-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 ">
					<div class="news-box">
										
					</div>
				</div>
			</div>
		</div>
        <div class="container">
            <p class="copyright text-center">All Rights Reserved. &copy; 2022 <a href="#">JMlessous</a>
            </p>
        </div>
    </footer>
</div>
	  
<!-- Bootstrap core JavaScript -->
<script src="/assets/front/vendor/jquery/jquery.min.js"></script>
<script src="/assets/front/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/front/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/front/js/isotope.pkgd.min.js"></script>
<script src="/assets/front/js/filter.js"></script>
<script src="/assets/front/js/jquery.appear.js"></script>
<script src="/assets/front/js/owl.carousel.min.js"></script>
<script src="/assets/front/js/jquery.fancybox.min.js"></script>
<script src="/assets/front/js/script.js"></script>